.container {
  display: grid;
  place-content: center;
  margin-top: 4em;
}

.search_cta {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
