.form_container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  input {
    flex: 1;
    padding: 1.1em;
    background: var(--card-foreground);
    border: none;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    color: var(--foreground);

    &::placeholder {
      color: var(--foreground);
    }
  }

  button {
    padding: 0 2em;
    background: var(--highlight);
    border: none;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: var(--foreground);
    cursor: pointer;
  }
}

.input_field {
  display: flex;
  width: 100%;
}
